
/*  the parent div */
.wrapper {
	background-color: aqua;

	display: grid;
	/* repeat(6,1fr) means 1fr * 6 */
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: 100px;
  }

  .box1 {
	  grid-column-start: 1;
	  grid-column-end: 4;
	  grid-row-start: 1;
	  grid-row-end: 3;
  }
  .box2 {
	  grid-column-start: 1;

	  grid-row-start: 3;
	  grid-row-end: 5;
  }

  