
/*  the parent div */
.wrapper {
	background-color: aqua;

	display: grid;
	/* repeat(6,1fr) means 1fr * 6 */
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: 100px;
	column-gap: 10px;
	row-gap: 1em;
  }

  .box1 {
	  grid-column-start: 1;
	  grid-column-end: 4;
	  grid-row-start: 1;
	  grid-row-end: 3;
	  /* without subgrid, grid created has no relation to parents, and doesnt respect parents gutters , soln  is subgrid */
	  display: grid;
	  grid-template-columns: repeat(3,1fr);
  }
  .box2 {
	  grid-column-start: 1;

	  grid-row-start: 3;
	  grid-row-end: 5;
  }

  